.completed {
    text-decoration: line-through;
  }
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  font-size: 16px;
}

button,
label {
  cursor: pointer;
}

ul{
    list-style: none;
}

input {
  font: inherit;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(125deg, #153677, #4e085f);
  padding: 10px;
}

.to-do {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.to-do h1 {
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  outline: none;

}
button {
  border: none;
  /* outline: none; */
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  border-radius: 30px;
}


li {
display: flex;
justify-content: space-between;
align-items: center;
}

/* */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
li p {
  flex: 5;
}
li input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  color: #aaa;
}
li button {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}